---
import Display from "../components/Display.astro";
import FollowUs from "../components/FollowUs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home | Kape Coffee">
    <main class="min-h-screen">
        <Display/>
    </main>
    <FollowUs/>
</Layout>
