<footer class="px-3 pt-8 pb-6 bg-kape-black">
    <div class="max-w-[1200px] mx-auto pt-8 text-white text-sm flex flex-col gap-4 text-center border-t-[1px] border-t-white border-opacity-10 md:flex-row md:gap-0 md:justify-between">
        <p class="opacity-70">Privacy Policy</p>
        <p class="opacity-50">&copy; 2024 Kape Coffee - All rights preserved.</p>
    </div>
</footer>
