---
const navItems = [
    {
        label: "About",
        href: "/about",
    },
    {
        label: "Gallery",
        href: "/gallery",
    },
    {
        label: "Menu",
        href: "/menu",
    },
];
---

<header class="bg-kape-green px-6 py-6 flex justify-between items-center">
    <a href="/" class="text-kape-beige text-4xl">Kape</a>
    <nav>
        <ul class="text-white flex gap-4">
            {
                navItems.map((item: { href: string; label: string }) => {
                    return (
                        <li class="text-white">
                            <a href={item.href}>{item.label}</a>
                        </li>
                    );
                })
            }
        </ul>
    </nav>
</header>
